@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

html, body {
  overflow-x: hidden;
  overscroll-behavior: none;
}
